:root {
    --primary-color: #6200EE;
    --primary-variant: #3700B3;
    --secondary-color: #03DAC6;
    --secondary-variant: #018786;
    --background-color: #FFFFFF;
    --surface-color: #FFFFFF;
    --error-color: #B00020;
    --on-primary-color: #FFFFFF;
    --on-primary-hover: #F9F9F9;
    --on-primary-active: #C9C9C9;
    --on-secondary-color: #000000;
    --on-background-color: #000000;
    --on-surface-color: #000000;
    --on-error-color: #FFFFFF;
}

body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.top-nav {
    padding: .25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}
 .logo {
    color: var(--on-primary-color);
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    transition: scale 0.125s;

 }

 .logo:hover {
    scale: 1.05;
 }

 .add-new {
    background-color: var(--on-primary-color);
    color: var(--secondary-color);
    font-size: 2rem;
    border-style: none;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transition: scale 0.125s;
    user-select: none;
    -webkit-user-select: none;
 }

 .add-new:hover {
    scale: 1.1;
    background-color: var(--on-primary-hover);
 }

 .add-new:active {
    background-color: var(--on-primary-active);
 }

.content-wrapper {
    display: grid;
    flex: 1;
    grid-template-columns: 14rem 1fr;
}

.sidebar {
    background-color:var(--on-primary-hover);

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-variant);
    color: var(--on-primary-active);
}